 {% extends "base.html" %}
{% block content %}

 
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="/static/js/datepicker-es.js"></script>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1
});
});
</script> 



<br><br><br>
<br><br><br>

<br><br><br>
<h3>Nueva Consulta </h2>
<div align="center">
<style>
table, th, td {
    border: none;
    border-collapse: separate;
    border-spacing: 30px 25px;

}
</style>
	<form action="{% url 'list' %}" method="post">
		{% csrf_token %}
		<h2>{{ paciente.nombre }}</h2>
		<br><br>
	    <table cellpadding="10">
		  <tr>
		    <td>Personal Médico :</td>
		    <td></td>
		    <td><select>
		           {% for doctor in doctores %}
					    <option value="{{ doctor.id }}">{{ doctor.nombre }}</option>
					{% endfor %}
				</select>
		    </td>
		  </tr>
		  <tr>
		    <td><p>Fecha Consulta :</p></td>
		    <td></td>
		    <td><input type="text" id="datepicker" /></td>
		  </tr>
		  <tr>
		    <td>Hora Consulta:</td>
		    <td></td>
		    <td>
            <select name="hora">
               <option value="1">8:00 am</option> 
               <option value="2">8:30 am</option> 
               <option value="1">9:00 am</option> 
               <option value="2">9:30 am</option> 
               <option value="1">10:00 am</option> 
               <option value="2">10:30 am</option> 
               <option value="1">11:00 am</option> 
               <option value="2">11:30 am</option> 
               <option value="1">12:00 pm</option> 
               <option value="2">12:30 pm</option> 
               <option value="1">1:00 pm</option> 
               <option value="2">1:30 pm</option> 
               <option value="1">2:00 pm</option> 
               <option value="2">2:30 pm</option> 
               <option value="1">3:00 pm</option> 
               <option value="2">3:30 pm</option> 
               <option value="1">4:00 pm</option> 
               <option value="2">4:30 pm</option> 
               <option value="1">5:00 pm</option> 
               <option value="2">5:30 pm</option> 
            </select>
        </td>
		  </tr>
		</table>	

		<br><br><br><br><br>
		<input type="submit" value="Crear Consulta " />
  

	</form>
</div>


{% endblock %}

