 {% extends "base.html" %}

{% block content %}

 
<br> </br>
<br> </br>
<h1 align="center">Pacientes </h1>
<br> </br>


<div  align="center">
                        <h3><a href="{% url "new" %}"> Registrar Nuevo Paciente</a></h3>
                             <br></br>
                         <form action ="{% url "pacienteBuscar" %}" method="GET">
                            <label for="q">Nombre | N° Historia  </label>
                            <input type="text" name="q" value="{{ query|escape }}">
                            <input type="submit" value="Buscar">
                         </form>

                  </div>
<div >
                    <table class="table table-striped" style="margin: 10 auto;" >
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>N° Historia </th>
                                <th>Ver Paciente</th>
                                <th>Editar Paciente</th>
                                <th>Crear Consulta</th>
                            </tr>
                        </thead>
                            <br></br>
                            <br></br>

                              {% if query %}
                                 <h2>Resultados para "{{ query|escape }}":</h2>
                         
                                 {% if results %}

                               <ul>
                                   
                               {% for pacientes in results%}
                                     
                                 <tr>
                                   <td> {{ pacientes.nombre  }}  </td>
                                   <td> {{ pacientes.historia  }}</td>
                                   <td> <a href="{% url "detail" pacientes.id %}">Ver</a> </td>
                                   <td> <a href="{% url "edit" pacientes.id %}">Editar</a> 
                                   <td> <a href="{% url "consultaNueva" pacientes.id %}">Nueva Consulta</a> 
                                   </td>
                                
                                 </tr>
                        
                                {% endfor %}
                              </ul>
                            {% else %}
                              <p>No se encontraron pacientes .</p>
                            {% endif %}
                          {% endif %}   



                             {% for paciente in object_list %}
                                <tr>
                                    <td> {{ paciente.nombre  }}  </td>
                                    <td> {{ paciente.historia  }}</td>
                                    <td> <a href="{% url "detail" paciente.id %}">Ver</a> </td>
                                    <td> <a href="{% url "edit" paciente.id %}">Editar</a> 
                                    <td> <a href="{% url "consultaNueva" paciente.id %}">Nueva Consulta</td>
                                    
                                </tr>
                            
                             {% endfor %}
                        </tbody>
                    </table>
  </div>
 

{% endblock %}




