{% extends "base.html" %}

{% block content %}
    <br></br>
    <br></br>
    
 <div class="content container">
        <div class="row">
            <div class="col-md-8">
	                <br></br>
    	                <div class="date">
						    <h1>{{ pacientes.nombre }}</h1>
							<p>historia: <i>{{ pacientes.historia }}</i></p>
							<p>Dirección: <i>{{ pacientes.direccion }}</i></p>
							<p>
							    <a href="{% url "list" %}">Regresar</a>
							</p>		
						</div>	                                
			                
            </div>
        </div>
    </div>
{% endblock %}






