{% extends "base.html" %}

{% block content %}
    <br></br>
    <br></br>
    
 <div class="content container">
        <div class="row">
            <div class="col-md-8">
	                <br></br>
    	                <div class="date">
						    <h1>{{ pacientes.nombre }}</h1>
							<p>N° Historia: <i>{{ pacientes.historia }}</i></p>
							<p>Género: <i>{{ pacientes.genero }}</i></p>
							<p>Fecha Nacimiento: <i>{{ pacientes.fecha }}</i></p>
							<p>Edad: <i>{{ pacientes.edad }}</i></p>
							<p>Dirección: <i>{{ pacientes.direccion }}</i></p>
							<p>Cédula: <i>{{ pacientes.cedula }}</i></p>
							<p>Representante: <i>{{ pacientes.representante }}</i></p>
							<p>Télefono Local: <i>{{ pacientes.telefono_local }}</i></p>
							<p>Célular: <i>{{ pacientes.celular }}</i></p>
							<p>Diagnóstico: <i>{{ pacientes.diagnostico }}</i></p>
							<p>
							    <a href="{% url "list" %}">Regresar</a>
							</p>		
						</div>	                                
			                
            </div>
        </div>
    </div>
{% endblock %}






